body {
    background: #FA91DE;
    font-size:20px;
}
#pata {width: 35px;  
}
#core11 {width: 120px;
}
h1{
    text-align:center;
    background: #AD5395;
    color:#ffffff ;  
}
p{ 
    text-align: justify ;
}
i{color:#78FAFA; 

}